<%- include('../partials/header') %>

  <body>
    <h2>Add Collection</h2>
    <form id="new-form" action="/collections" method="POST">
        <label>Collection Name:</label>
            <input type="text" name="name">
        <label>Collection Type:</label>
            <input type="text" name="type">
        <br><br>
        <input type="submit" value="Add Collection">
      </form>

<%- include('../partials/footer') %>