<%- include('../partials/header') %>

<table>
  <thead>
    <tr>
      <th>Item Name</th>
    </tr>
  </thead>
  <tbody>
    <% items.forEach(i => { %>
      <tr>
        <td><%= i.itemName %></td>
        <td><a href="/items/<%= i._id %>">Details</a></td>
      </tr>
    <% }) %>
  </tbody>
</table>
<a href="/collections/new">Add New Collection</a>
<a href="/items/new">Add Item to Collection</a>

<%- include('../partials/footer') %>
