<%- include('../partials/header') %>

  <body>
    <h2>Add Item</h2>
    <form id="new-form" action="/items" method="POST">
        <label>Item Name:</label>
            <input type="text" name="itemName">
        <label>Product ID:</label>
            <input type="text" name="productId">
        <label>Vendor:</label>
            <input type="'text" name="vendor">
        <label>Date Produced:
            <input type="datetime-local" name="dateProduced" value="2022-10-11T12:00">
        <br><br>
        <label>Date Ordered:</label>
            <input type="datetime-local" name="dateOrdered" value="2022-10-11T12:00">
        <br><br>
        <label>Status:</label>
            <select name="itemStatus">
                <option value="Wishlisted">Wishlisted</option>
                <option value="Ordered">Ordered</option>
                <option value="Shipped">Shipped</option>
                <option value="Received">Received</option>
            </select>
        <br><br>
        <input type="submit" value="Add Item">
      </form>

<%- include('../partials/footer') %>